<div class="project-card" [class.reverse]="isReversed">
  <div class="project-background" [ngClass]="getProjectTheme()"></div>
  <div class="project-image">
    <img [src]="project.image" [alt]="project.title" />
  </div>
  <div class="project-content">
    <h3 class="project-title">{{ project.title }}</h3>
    <p class="project-description">{{ project.description }}</p>
    <div class="project-technologies">
      <span *ngFor="let tech of project.technologies" class="tech-tag">
        {{ tech }}
      </span>
    </div>
    <div class="project-actions">
      <button (click)="openMoreDetails()" class="action-btn">
        <i class="icon-more"></i>
        More
      </button>
    </div>
  </div>
</div>